.normal {
  left: 4px;
  top: 100px; }

.rotate {
  left: -364px;
  top: 20px;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }

#popup {
  position: fixed;
  display: block;
  background-color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #bfbfbf;
  -webkit-box-shadow: 0 0 4px #bfbfbf;
  -khtml-box-shadow: 0 0 4px #bfbfbf;
  -moz-box-shadow: 0 0 4px #bfbfbf;
  box-shadow: 0 0 4px #bfbfbf;
  width: 320px;
  height: 480px; }
  #popup h4 {
    color: white;
    margin: 4px;
    padding: 8px;
    background-color: #5e87b0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #bfbfbf;
    -webkit-box-shadow: 0 0 4px #bfbfbf;
    -khtml-box-shadow: 0 0 4px #bfbfbf;
    -moz-box-shadow: 0 0 4px #bfbfbf;
    box-shadow: 0 0 4px #bfbfbf; }
    #popup h4 span:before {
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      content: "\e097";
      float: right;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      -khtml-border-radius: 8px;
      border-radius: 8px;
      border: 1px solid #bfbfbf;
      -webkit-box-shadow: 0 0 4px #bfbfbf;
      -khtml-box-shadow: 0 0 4px #bfbfbf;
      -moz-box-shadow: 0 0 4px #bfbfbf;
      box-shadow: 0 0 4px #bfbfbf;
      margin-top: -4px;
      margin-right: -4px;
      padding: 4px; }
  #popup iframe {
    margin: 4px;
    width: 310px;
    height: 425px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #bfbfbf;
    -webkit-box-shadow: 0 0 4px #bfbfbf;
    -khtml-box-shadow: 0 0 4px #bfbfbf;
    -moz-box-shadow: 0 0 4px #bfbfbf;
    box-shadow: 0 0 4px #bfbfbf; }
