$dialogHeight:540px;
$dialogWidth:480px;

@import "mixin";
#popup{
  position: fixed;
  display: block;
  background-color: #fff;
  @include corner(8px);
  @include shadow(#bfbfbf);
  width: $dialogWidth ;
  height: $dialogHeight;
  padding:4px;
  h4{
    color: white;
    margin: 0px;
    padding: 8px;
    background-color:#5e87b0;
    @include corner(8px);
    @include shadow(#bfbfbf);
    span:before{
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      content: "\e097";
      float: right;
      @include corner(8px);
      @include shadow(#bfbfbf);
      margin-top: -4px;
      margin-right: -4px;
      padding: 4px;
    }
  }
  iframe{
    margin-top: 4px;
    width: $dialogWidth - 2;
    height: $dialogHeight - 48 ;
    @include corner(8px);
    @include shadow(#bfbfbf);

  }
}

// position
.popup-bottom-left, .popup-top-left{ left: 16px;}
.popup-bottom-right, .popup-top-right{ right: 16px;}

.popup-top-left, .popup-top-right{  top: -($dialogHeight - 34);}
.popup-bottom-left, .popup-bottom-right{  bottom: -($dialogHeight - 34);}
