$dialogLeft:4px;
$dialogTop:100px;
$dialogHeight:480px;
$dialogWidth:320px;

$dialogRotateLeft: $dialogLeft - ($dialogHeight + $dialogWidth) / 2 + 32;
$dialogRotateTop: $dialogTop - ($dialogHeight + $dialogWidth) / 2 + $dialogWidth;


@import "mixin";
.normal{
  left: $dialogLeft;
  top: $dialogTop;
}
.rotate{
  left: $dialogRotateLeft ;
  top:$dialogRotateTop;
  -webkit-transform:rotateZ(90deg);
  -moz-transform:rotateZ(90deg);
  -o-transform:rotateZ(90deg);
  -ms-transform:rotateZ(90deg);
  transform:rotateZ(90deg);
}
#popup{
  position: fixed;
  display: block;
  background-color: #fff;
  @include corner(8px);
  @include shadow(#bfbfbf);
  width:$dialogWidth;
  height: $dialogHeight;
  h4{
    color: white;
    margin: 4px;
    padding: 8px;
    background-color:#5e87b0;
    @include corner(8px);
    @include shadow(#bfbfbf);
    span:before{
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      content: "\e097";
      float: right;
      @include corner(8px);
      @include shadow(#bfbfbf);
      margin-top: -4px;
      margin-right: -4px;
      padding: 4px;
    }
  }
  iframe{
    margin: 4px;
    width: $dialogWidth - 10;
    height: $dialogHeight - 55 ;
    @include corner(8px);
    @include shadow(#bfbfbf);
  }
}



// #popup{
//   z-index: 999;
//   display: block;
//   position: fixed;
//   background-color: #fff;
//   @include corner(4px);
//   @include shadow(#bfbfbf);
//   #control{
//     padding: 4px 8px 0 8px;
//     text-shadow: 0 1px 0 #3e6790;
//     font-size: 20px;
//     line-height: 24px;
//     font-weight: bold;
//     color: #fff;
//     #ctl{
//       float: right;
//     }
//   }
// }

// position
// .popup-bottom-left, .popup-top-left{ left: 16px;}
// .popup-bottom-right, .popup-top-right{ right: 16px;}

// .popup-top-left, .popup-top-right{  top: 0;}
// .popup-bottom-left, .popup-bottom-right{  bottom: 0;}
