include mixin

!!! 5
html(lang='ru_RU')
  head
    title  Template test
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Bootstrap
    link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='css/popup.css', rel='stylesheet', media='screen')
  body
    #popup
    h1 test
    mixin lorem
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/popup.js')
    script
      $(function() {
        $('#popup').popup({
          url:'http://localhost:3000/'
          , background: '#5e87b0'
          , background_image: 'linear-gradient( #6facd5,#497bae )'
          , size:[328,32,480]
          , position:'bottom-right'
          , label:'Контакт'
          });
      });
